body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  color: #333;
}

h1 {
  margin-top: 20px;
  color: #000000;
}
h3{
  font-size: x-large;
}
h4{
  font-size: x-large;
}
h5{
  font-size: x-large;
}

.product-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 200px;
}
.product-items {
  display: flex;
  justify-content: center; /* Aligns horizontally */
  align-items: center; /* Aligns vertically */
}


.product-image {   
  width: 100%;
  border-radius: 8px;
}
#order-summary {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#cartTable {
    border: 1px solid black;
    border-collapse: collapse; /* Optional: Ensures borders are collapsed into a single line */
}

#cartTable th, #cartTable td {
    border: 1px solid black; /* Adds borders to table cells */
    padding: 8px; /* Optional: Adds padding inside table cells */
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

tfoot td {
  font-weight: bold;
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
  background-color: #20859c;
}

button:disabled {
  background-color: #c11c1c;
  cursor:not-allowed;
}
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}
.footer div{
  text-align: center;
}
.col-2{
  flex-grow: 2;
}
.footer div{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button{
  background: transparent;
  border:2px solid #fff;
  color:#fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

